@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    background-color: rgb(38, 50, 56);
    display: flex;
    justify-content: center;
    align-items: center;
}

#panale {
    width: 80%;
    height: 80%;
    background-color: rgb(55, 71, 79);
    border-radius: 15px;
    overflow: hidden;
}

#ptop {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(255, 193, 7);
    align-items: center;
    justify-content: center;
}

.leftptop{
    width: 100%;

}

#startbtn {
    background-color: inherit;
    border: none;
    background-color: rgb(233, 30, 99);
    padding: 8px 13px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(233, 30, 99);
    margin-right: auto;
    font-weight: 600;

    margin-left: 1rem;
}
#startbtn:hover {
    background-color: inherit;
    border: none;
    border: 2px solid rgb(250, 30, 99);
    padding: 8px 13px;
    border-radius: 5px;
    color: rgb(233, 30, 99);
    margin-right: auto;
    font-weight: 600;
    opacity: .8;
    margin-left: 1rem;
    transition: all .3s;
    cursor: pointer;
}
.rightptop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;

}

.elem>div {
    background-color: rgb(0, 150, 136);
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0 5px;
    color: rgb(255, 255, 255);
}

#pbotom {
    width: 100%;
    height: calc(100% - 100px);
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    padding: 1rem;
}

#box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 87, 34);
}

@media only screen and (max-width: 600px) {
    #ptop {
        justify-content: center;
    }

    .elem {
        flex-direction: column;
        margin: 0 10px;
    }

    #panale {
        width: 100%;
        height: 100%;
        border-radius: 0%;
    }

    .leftptop {
        margin-top: 1.3rem;
    }
}